<h2>List of Animals available for adoption</h2>

<div class="row">
  <% @pet_groups.each do |pg| %>
    <div class="col-4">
      <% if pg.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag pg.image.variant(resize_to_limit: [250, 250]).processed, alt:"Picture" %>
          </figure>
        </div>
      <% else %>
        <%= image_tag pg.image_URL, alt: "Picture" %>
      <% end %>
      <p><%= link_to pg.name, pg %></p>
    </div>
  <% end %>
</div>

