/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
  font-family: "Poppins";
}
.cart{
  width: 60px;
  height: auto;
}
ul li{
  list-style: none;
}
.navbar-brand{
  color: #b19777 !important;
  font-weight: 700;
  font-size: 40px !important;
}
li a{
  text-decoration: none;
  color: #fff !important;
}
li a.dropdown-item{
  color: #252531 !important;
}
li a:hover{
  color: #b19777 !important;
  text-decoration: none;
}
h2{
  margin: 50px 0 20px !important;
  font-weight: 700;
}
h3{
  margin-bottom: 20px !important;
  font-weight: 700;
}
tr td a, div a{
  text-decoration: none;
  color: #252531;
}
tr td a:hover, div a:hover{
  text-decoration: none;
  color: #b19777;
  font-weight: 700;
}
img{
  height: 300px;
}
.bold{
  font-weight: 700;
}
.light{
  font-weight: 400 !important;
}
.margin-top{
  margin-top: 50px;
}
.page{
  padding: 0 10px;
  color: #ae9679 !important;
  font-weight: 700;
}
.next, .last, .first, .prev{
  padding: 0 5px;
  color: #ae9679 !important;
  font-weight: 500;
}
.next a, .last a, .first a, .prev a{
  color: #ae9679 !important;
}